@media (max-width: 600px) {
  .header-nav {
    font-size: 1rem;
    margin-top: 60px;
  }
  .header-nav li {
    margin: 0 20px;
  }
  .header-logo {
    margin-top: 15px;
  }
  .home-contents {
    margin-top: 30%;
  }
  .page-title {
    margin-top: 20px;
  }
  article {
    font-size: 15px;
  }
  .about-item {
    display: block;
  }
  .about-item img {
    width: 100%;
    height: 250px;
  }
  .footer-item {
    margin-top: 20px;
  }
  .footer-item a {
    margin-right: 10px;
  }
  .footer-nav {
    display: block;
  }
  .footer-nav p {
    margin-left: 40px;
    margin-top: 20px;
  }
}